* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }

ul, dl, ol, li, dd, dt {
  list-style: none; }

a {
  text-decoration: none;
  color: #333; }

a:hover {
  text-decoration: none; }

body {
  font-family: "Microsoft YaHei", -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 14px; }

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden; }

.none {
  display: none; }

header {
  height: 80px;
  max-width: 1200px;
  margin: 0 auto; }

main {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; }
  main #nav {
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: scroll;
    transition: all 1s; }
    main #nav::-webkit-scrollbar {
      width: 6px;
      height: 6px; }
    main #nav::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgba(0, 0, 0, 0); }
    main #nav::-webkit-scrollbar-track {
      border-radius: 0;
      background: transparent; }
    main #nav:hover::-webkit-scrollbar-thumb {
      background: rgba(134, 140, 152, 0.3); }
    main #nav dt {
      font-weight: bold;
      font-size: 16px;
      line-height: 60px; }
    main #nav dd {
      line-height: 40px; }
      main #nav dd a {
        transition: all .5s; }
      main #nav dd.active a {
        color: #409eff; }
      main #nav dd:hover a {
        color: #409eff; }
      main #nav dd span {
        padding-left: 10px; }
  main #content {
    padding-left: 250px;
    color: #5e6d82;
    flex: 1; }
    main #content .title {
      margin-bottom: 20px; }
      main #content .title h1 {
        font-weight: normal;
        font-size: 24px;
        color: #1f2f3d;
        line-height: 60px; }
    main #content .writeFirst {
      padding-left: 25px;
      margin-bottom: 10px; }
      main #content .writeFirst p {
        padding-bottom: 10px;
        text-indent: -25px; }
      main #content .writeFirst a {
        color: #409eff; }
        main #content .writeFirst a:hover {
          text-decoration: underline; }
    main #content .demo {
      margin-bottom: 20px; }
      main #content .demo .title2 h2 {
        color: #1f2f3d;
        font-size: 20px;
        font-weight: normal;
        line-height: 60px; }
      main #content .demo .title2 span {
        display: block;
        margin-bottom: 20px; }
      main #content .demo .case {
        border: 1px solid #ddd;
        border-radius: 4px;
        transition: .6s; }
        main #content .demo .case.hover {
          box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5); }
          main #content .demo .case.hover .arrow {
            background: #f9fafc; }
        main #content .demo .case ul {
          padding: 20px; }
        main #content .demo .case .more {
          border-top: 1px solid #ddd; }
          main #content .demo .case .more .code {
            display: none;
            position: relative;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd; }
            main #content .demo .case .more .code xmp {
              width: 100%;
              line-height: 20px; }
            main #content .demo .case .more .code .css {
              opacity: 0;
              width: 0; }
            main #content .demo .case .more .code button {
              margin-left: 10px;
              background: transparent;
              border: 1px solid transparent;
              color: #409eff;
              padding: 2px 6px;
              border-radius: 4px;
              cursor: pointer;
              transition: all .4s; }
              main #content .demo .case .more .code button:hover {
                border-color: #409eff;
                color: #409eff; }
          main #content .demo .case .more .arrow {
            text-align: center;
            padding: 10px 0;
            cursor: pointer; }
            main #content .demo .case .more .arrow i {
              display: inline-block;
              content: "";
              width: 0;
              height: 0;
              border: 6px solid transparent;
              border-top-color: #409eff;
              vertical-align: -3px;
              margin-right: 6px; }
              main #content .demo .case .more .arrow i.up {
                border-top-color: transparent;
                border-bottom-color: #409eff;
                vertical-align: 2px; }
            main #content .demo .case .more .arrow span {
              opacity: 0;
              color: #409eff; }

.addModelBtn {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0; }
  .addModelBtn button {
    padding: 8px 12px;
    background: #409eff;
    color: #fff;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer; }
    .addModelBtn button:hover {
      background: #3195fd; }
  .addModelBtn svg {
    fill: white;
    width: 14px;
    height: 14px; }

.pop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.6);
  text-align: center; }
  .pop:before {
    display: inline-block;
    content: "";
    height: 100%;
    vertical-align: middle; }
  .pop .wrap {
    display: inline-block;
    vertical-align: middle;
    margin-top: -200px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 4px;
    text-align: left;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2); }
    .pop .wrap h2 {
      font-weight: normal;
      font-size: 20px;
      margin-bottom: 20px; }
    .pop .wrap .line {
      margin-bottom: 20px;
      text-align: center; }
      .pop .wrap .line:last-child {
        margin-bottom: 0; }
      .pop .wrap .line p {
        margin-bottom: 20px;
        text-align: right; }
      .pop .wrap .line span {
        padding-right: 10px;
        font-size: 16px; }
      .pop .wrap .line input {
        width: 400px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #d8dce5;
        outline: 0;
        transition: all .6s; }
        .pop .wrap .line input::-webkit-input-placeholder {
          color: #b4bccc; }
        .pop .wrap .line input:-moz-placeholder {
          color: #b4bccc; }
        .pop .wrap .line input::-moz-placeholder {
          color: #b4bccc; }
        .pop .wrap .line input:-ms-input-placeholder {
          color: #b4bccc; }
        .pop .wrap .line input:focus {
          border-color: #409eff; }
      .pop .wrap .line textarea {
        width: 400px;
        height: 100px;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #d8dce5;
        outline: 0;
        transition: all .6s;
        vertical-align: top; }
        .pop .wrap .line textarea:focus {
          border-color: #409eff; }
      .pop .wrap .line button {
        padding: 8px 12px;
        color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        background: #409eff;
        margin-right: 10px; }
        .pop .wrap .line button:hover {
          background: #3195fd; }
        .pop .wrap .line button.cancel {
          background: #fff;
          color: #666;
          border: 1px solid #bbb; }
          .pop .wrap .line button.cancel:hover {
            background: #fff;
            border-color: #999; }

#Radio .e-radio {
  position: relative;
  display: inline-block;
  margin-right: 10px; }
  #Radio .e-radio input[type=radio] {
    position: absolute;
    top: 3px;
    width: 14px;
    height: 14px;
    opacity: 0; }
  #Radio .e-radio label {
    position: relative;
    padding-left: 22px; }
    #Radio .e-radio label i {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: transparent;
      border: 1px solid #d8dce5;
      text-align: center;
      border-radius: 50%;
      box-sizing: border-box;
      position: absolute;
      top: 3px;
      left: 0;
      transition: all .5s; }
      #Radio .e-radio label i:before {
        display: inline-block;
        content: "";
        width: 4px;
        height: 4px;
        background: transparent;
        border-radius: 50%;
        vertical-align: 7px;
        transition: all .5s; }
  #Radio .e-radio input:checked + label {
    color: #409eff; }
  #Radio .e-radio input:checked + label i {
    background: #409eff;
    border-color: transparent; }
    #Radio .e-radio input:checked + label i:before {
      background: #fff; }
  #Radio .e-radio.e-disabled input:disabled + label {
    color: #b4bccc; }
  #Radio .e-radio.e-disabled input:disabled + label i {
    background: transparent;
    border-color: #b4bccc; }
  #Radio .e-radio.e-disabled input:checked:disabled + label i:before {
    background: #b4bccc; }
  #Radio .e-radio.e-border input {
    left: 14px; }
  #Radio .e-radio.e-border label {
    display: block;
    border: 1px solid #ddd;
    padding: 8px 18px 8px 35px;
    border-radius: 4px; }
    #Radio .e-radio.e-border label i {
      top: 11px;
      left: 13px; }
  #Radio .e-radio.e-border input:checked + label {
    border-color: #409eff; }

#Checkbox .e-checkbox {
  position: relative;
  display: inline-block;
  margin-right: 10px; }
  #Checkbox .e-checkbox input[type=checkbox] {
    position: absolute;
    top: 3px;
    width: 14px;
    height: 14px;
    opacity: 0; }
  #Checkbox .e-checkbox label {
    position: relative;
    padding-left: 22px; }
    #Checkbox .e-checkbox label i {
      display: inline-block;
      width: 14px;
      height: 14px;
      background: transparent;
      border: 1px solid #d8dce5;
      text-align: center;
      box-sizing: border-box;
      position: absolute;
      top: 3px;
      left: 0;
      transition: all .5s;
      border-radius: 2px; }
      #Checkbox .e-checkbox label i:before {
        display: inline-block;
        content: "";
        width: 10px;
        height: 5px;
        background: transparent;
        border: 1px solid transparent;
        transform: rotate(-45deg);
        vertical-align: 8px;
        transition: all .5s; }
  #Checkbox .e-checkbox input:checked + label {
    color: #409eff; }
  #Checkbox .e-checkbox input:checked + label i {
    background: #409eff;
    border-color: transparent; }
    #Checkbox .e-checkbox input:checked + label i:before {
      border-left-color: #fff;
      border-bottom-color: #fff; }
  #Checkbox .e-checkbox.e-disabled input:disabled + label {
    color: #b4bccc !important; }
  #Checkbox .e-checkbox.e-disabled input:disabled + label i {
    background: #edf2fc !important;
    border-color: #d8dce5 !important; }
  #Checkbox .e-checkbox.e-disabled input:checked:disabled + label i:before {
    border-left-color: #b4bccc;
    border-bottom-color: #b4bccc; }
  #Checkbox .e-checkbox.e-border input {
    left: 14px; }
  #Checkbox .e-checkbox.e-border label {
    display: block;
    border: 1px solid #ddd;
    padding: 8px 18px 8px 35px;
    border-radius: 4px; }
    #Checkbox .e-checkbox.e-border label i {
      top: 11px;
      left: 13px; }
  #Checkbox .e-checkbox.e-border input:checked + label {
    border-color: #409eff; }

#Input .e-input {
  display: inline-block; }
  #Input .e-input input {
    max-width: 300px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #d8dce5;
    outline: 0;
    transition: all .6s; }
    #Input .e-input input::-webkit-input-placeholder {
      color: #b4bccc; }
    #Input .e-input input:-moz-placeholder {
      color: #b4bccc; }
    #Input .e-input input::-moz-placeholder {
      color: #b4bccc; }
    #Input .e-input input:-ms-input-placeholder {
      color: #b4bccc; }
    #Input .e-input input:focus {
      border-color: #409eff; }
    #Input .e-input input:disabled {
      background: #f5f7fa;
      border-color: #dfe4ed;
      color: #b4bccc;
      cursor: not-allowed; }
  #Input .e-input.e-icon-left {
    position: relative; }
    #Input .e-input.e-icon-left input {
      padding-left: 36px; }
    #Input .e-input.e-icon-left svg {
      position: absolute;
      left: 7px;
      top: 7px;
      width: 20px;
      height: 20px;
      fill: #b4bccc; }
  #Input .e-input.e-icon.e-icon-after {
    position: relative; }
    #Input .e-input.e-icon.e-icon-after input {
      padding-right: 40px; }
    #Input .e-input.e-icon.e-icon-after svg {
      position: absolute;
      right: 7px;
      top: 7px;
      width: 24px;
      height: 24px;
      fill: #b4bccc; }

#InputNumber .e-inputNumber {
  display: inline-block;
  line-height: 36px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  transition: all .4s; }
  #InputNumber .e-inputNumber.active {
    border-color: #409eff; }
    #InputNumber .e-inputNumber.active span.minus {
      border-right-color: #409eff;
      color: #409eff; }
      #InputNumber .e-inputNumber.active span.minus[disabled] {
        border-right-color: #ddd;
        color: #666; }
    #InputNumber .e-inputNumber.active span.plus {
      border-left-color: #409eff;
      color: #409eff; }
      #InputNumber .e-inputNumber.active span.plus[disabled] {
        border-left-color: #ddd;
        color: #666; }
  #InputNumber .e-inputNumber input {
    width: 200px;
    padding: 0 36px;
    border: none;
    outline: 0;
    line-height: 36px;
    text-align: center; }
  #InputNumber .e-inputNumber span {
    position: absolute;
    display: block;
    width: 36px;
    height: 100%;
    padding: 8px;
    background: #f5f7fa;
    cursor: pointer; }
    #InputNumber .e-inputNumber span[disabled] {
      cursor: not-allowed; }
    #InputNumber .e-inputNumber span:before {
      display: block;
      width: 11px;
      content: "";
      border-top: 1px solid;
      position: absolute;
      top: 17px;
      left: 12px; }
    #InputNumber .e-inputNumber span.minus {
      border-right: 1px solid #ddd; }
    #InputNumber .e-inputNumber span.plus {
      right: 0;
      top: 0;
      border-left: 1px solid #ddd; }
      #InputNumber .e-inputNumber span.plus:after {
        display: block;
        height: 11px;
        content: "";
        border-left: 1px solid;
        position: absolute;
        left: 17px;
        top: 12px; }

/*# sourceMappingURL=index.css.map */
