#Radio{
  .e-radio{
    position: relative; display: inline-block; margin-right: 10px;
    input[type=radio]{
      position: absolute; top: 3px; width: 14px; height: 14px; opacity: 0;
    }
    label{
      position: relative; padding-left: 22px;
      i{
        display: inline-block; width: 14px; height: 14px; background: transparent; border: 1px solid #d8dce5;
        text-align: center; border-radius: 50%;
        box-sizing: border-box; position: absolute; top: 3px; left: 0;
        transition: all .5s;
        &:before{
          display: inline-block; content: ""; width: 4px; height: 4px; background: transparent; border-radius: 50%;
          vertical-align: 7px; transition: all .5s;
        }
      }
    }
    input:checked+label{
      color: $color;
    }
    input:checked+label i{
      background: $color; border-color: transparent;
      &:before{
        background: #fff;
      }
    }

    &.e-disabled{
      input:disabled+label{
        color: #b4bccc;
      }
      input:disabled+label i{
        background: transparent; border-color: #b4bccc;
      }
      input:checked:disabled+label i{
        &:before{
          background: #b4bccc;
        }
      }
    }

    &.e-border{
      input{
        left: 14px;
      }
      label{
        display: block; border: 1px solid #ddd; padding: 8px 18px 8px 35px; border-radius: 4px;
        i{
          top: 11px; left: 13px;
        }
      }
      input:checked+label{
        border-color: $color;
      }
    }
  }
}
#Checkbox{
  .e-checkbox{
    position: relative; display: inline-block; margin-right: 10px;
    input[type=checkbox]{
      position: absolute; top: 3px; width: 14px; height: 14px; opacity: 0;
    }
    label{
      position: relative; padding-left: 22px;
      i{
        display: inline-block; width: 14px; height: 14px; background: transparent; border: 1px solid #d8dce5;
        text-align: center;
        box-sizing: border-box; position: absolute; top: 3px; left: 0;
        transition: all .5s; border-radius: 2px;
        &:before{
          display: inline-block; content: ""; width: 10px; height: 5px; background: transparent;
          border: 1px solid transparent; transform: rotate(-45deg);
          vertical-align: 8px; transition: all .5s;
        }
      }
    }
    input:checked+label{
      color: $color;
    }
    input:checked+label i{
      background: $color; border-color: transparent;
      &:before{
        border-left-color: #fff; border-bottom-color: #fff;
      }
    }
    &.e-disabled{
      input:disabled+label{
        color: #b4bccc !important;
      }
      input:disabled+label i{
        background: #edf2fc !important; border-color: #d8dce5 !important;
      }
      input:checked:disabled+label i{
        &:before{
          border-left-color: #b4bccc; border-bottom-color: #b4bccc;
        }
      }
    }

    &.e-border{
      input{
        left: 14px;
      }
      label{
        display: block; border: 1px solid #ddd; padding: 8px 18px 8px 35px; border-radius: 4px;
        i{
          top: 11px; left: 13px;
        }
      }
      input:checked+label{
        border-color: $color;
      }
    }
  }
}
#Input{
  .e-input{
    display: inline-block;
    input{
      max-width: 300px; padding: 10px; border-radius: 4px; border: 1px solid #d8dce5; outline: 0;
      transition: all .6s;
      &::-webkit-input-placeholder{ color:#b4bccc; }
      &:-moz-placeholder{ color:#b4bccc; }
      &::-moz-placeholder{ color:#b4bccc; }
      &:-ms-input-placeholder{ color:#b4bccc;}
      &:focus{
        border-color: $color;
      }

      &:disabled{
        background: #f5f7fa; border-color: #dfe4ed; color: #b4bccc; cursor: not-allowed;
      }
    }
    &.e-icon-left{
      position: relative;
      input{
        padding-left: 36px;
      }
      svg{
        position: absolute; left: 7px; top: 7px; width: 20px; height: 20px; fill: #b4bccc;
      }
    }
    &.e-icon.e-icon-after{
      position: relative;
      input{
        padding-right: 40px;
      }
      svg{
        position: absolute; right: 7px; top: 7px; width: 24px; height: 24px; fill: #b4bccc;
      }
    }
  }
}
#InputNumber{
  .e-inputNumber{
    display: inline-block; line-height: 36px; border: 1px solid #ddd; border-radius: 4px; overflow: hidden;  position: relative;
    transition: all .4s;
    &.active{
      border-color: $color;
      span.minus{
        border-right-color: $color; color: $color;
        &[disabled]{
          border-right-color: #ddd; color: #666;
        }
      }
      span.plus{
        border-left-color: $color; color: $color;
        &[disabled]{
          border-left-color: #ddd; color: #666;
        }
      }
    }
    input{
      width: 200px; padding: 0 36px; border: none; outline: 0; line-height: 36px; text-align: center;
    }
    span{
      position: absolute; display: block; width: 36px; height: 100%; padding: 8px; background: #f5f7fa; cursor: pointer;
      &[disabled]{
        cursor: not-allowed;
      }
      &:before{
        display: block; width: 11px; content: ""; border-top: 1px solid; position: absolute; top: 17px; left: 12px;
      }
      &.minus{
        border-right: 1px solid #ddd;
      }
      &.plus{
        right: 0; top: 0; border-left: 1px solid #ddd;
        &:after{
          display: block; height: 11px; content: ""; border-left: 1px solid; position: absolute; left: 17px; top: 12px;
        }
      }
    }
  }
  .e-inputNumber.e-disabled{
    input[disabled]{
      background: #f5f7fa;
    }
  }
}

#Select{
  .e-Select{
    width: 200px; border: 1px solid #ddd; border-radius: 4px; position: relative;
    input{
      border: none; outline: 0; line-height: 36px; border-radius: 4px; text-indent: 10px;
    }
    .arrow{
      display: block; width: 8px; height: 8px; border: 1px solid #999 {left: 0; top: 0;} position: absolute; top: 11px; right: 11px;
      transform: rotate(45deg);
    }
    ul{
      width: 100%; border: 1px solid #ddd; border-radius: 4px; position: absolute; top: 48px; z-index: 10; background: #fff;
      &:before{
        display: block; content: ""; width: 10px; height: 10px; border: 1px solid #ddd {left: 0; top: 0;}
        background: #fff; 
        position: absolute;
      }
    }
  }
}