*{
  margin: 0; padding: 0; box-sizing: border-box;
  &:after,&:before{
    margin: 0; padding: 0; box-sizing: border-box;
  }
}
ul,dl,ol,li,dd,dt{
  list-style: none;
}
a{
  text-decoration: none; color: #333;
}
a:hover{
  text-decoration: none;
}
body{
  font-family: "Microsoft YaHei", -apple-system, "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN", "Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 14px;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

$maxWidth: 1200px;$color: #409eff; $color1: #1f2f3d; $color2: #5e6d82;
header{
  height:80px; max-width: $maxWidth; margin: 0 auto;
}
main{
  max-width: $maxWidth; margin: 0 auto; display: flex;
  #nav{
    width: 250px; height: 100vh; position: fixed; overflow-y: scroll; transition: all 1s;
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: rgba(0,0,0,0);
    }
    &::-webkit-scrollbar-track {
      border-radius: 0;
      background: transparent;
    }
    &:hover::-webkit-scrollbar-thumb{
      background: hsla(220,8%,56%,.3);
    }
    dt{
      font-weight: bold; font-size: 16px; line-height: 60px;
    }
    dd{
     line-height: 40px;
      a{
        transition: all .5s;
      }
      &.active a{
        color: $color;
      }
      &:hover a{
        color: $color;
      }
      span{
        padding-left: 10px;
      }
    }
  }
  #content{
    padding-left: 250px; color: $color2; flex: 1;
    .title{
      margin-bottom: 20px;
      h1{
        font-weight: normal; font-size: 24px; color: $color1; line-height: 60px;
      }
    }
    .writeFirst{
      padding-left: 25px; margin-bottom: 10px;
      p{
        padding-bottom: 10px; text-indent: -25px;
      }
      a{
        color: $color;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .demo{
      margin-bottom: 20px;
      .title2{

        h2{
          color: $color1; font-size: 20px; font-weight: normal; line-height: 60px;
        }
        span{
          display: block; margin-bottom: 20px;
        }
      }
      .case{
        border: 1px solid #ddd; border-radius: 4px; transition: .6s;
        &.hover{
          box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
          .arrow{
            background: #f9fafc;
          }
        }
        ul{
          padding: 20px;
        }
        .more{
          border-top: 1px solid #ddd;
          .code{
            display: none; position: relative; padding-bottom: 10px; border-bottom: 1px solid #ddd;
            xmp{
              width: 100%;
            }
            .css{
              opacity: 0; width: 0;
            }
            button{
              margin-left: 10px; background: transparent; border: 1px solid transparent; color: $color;
              padding: 2px 6px; border-radius: 4px; cursor: pointer; transition: all .4s;
              &:hover{
                border-color: $color; color: $color;
              }
            }
          }
          .arrow{
            text-align: center; padding: 10px 0; cursor: pointer;
            i{
              display: inline-block; content:""; width: 0; height: 0; border: 6px solid transparent; border-top-color: $color;
              vertical-align: -3px; margin-right: 6px;
              &.up{
                border-top-color: transparent; border-bottom-color: $color; vertical-align: 2px;
              }
            }
            span{
              opacity: 0; color: $color;
            }
          }
        }
      }
    }
  }
}
#Radio{
  .e-radio{
    position: relative; display: inline-block; margin-right: 10px;
    input[type=radio]{
      position: absolute; top: 3px; width: 14px; height: 14px; opacity: 0;
    }
    label{
      position: relative; padding-left: 22px;
      i{
        display: inline-block; width: 14px; height: 14px; background: transparent; border: 1px solid #d8dce5;
        text-align: center; border-radius: 50%;
        box-sizing: border-box; position: absolute; top: 3px; left: 0;
        transition: all .5s;
        &:before{
          display: inline-block; content: ""; width: 4px; height: 4px; background: transparent; border-radius: 50%;
          vertical-align: 7px; transition: all .5s;
        }
      }
    }
    input:checked+label{
      color: $color;
    }
    input:checked+label i{
      background: $color; border-color: transparent;
      &:before{
        background: #fff;
      }
    }

    input:disabled+label{
      color: #b4bccc !important;
    }
    input:disabled+label i{
      background: transparent !important; border-color: #b4bccc !important;
    }
    input:checked:disabled+label i{
      &:before{
        background: #b4bccc;
      }
    }

    &.border{
      input{
        left: 14px;
      }
      label{
        display: block; border: 1px solid #ddd; padding: 8px 18px 8px 35px; border-radius: 4px;
        i{
          top: 11px; left: 13px;
        }
      }
      input:checked+label{
        border-color: $color;
      }
    }
  }
}
#Checkbox{
  .e-checkbox{
    position: relative; display: inline-block; margin-right: 10px;
    input[type=checkbox]{
      position: absolute; top: 3px; width: 14px; height: 14px; opacity: 0;
    }
    label{
      position: relative; padding-left: 22px;
      i{
        display: inline-block; width: 14px; height: 14px; background: transparent; border: 1px solid #d8dce5;
        text-align: center;
        box-sizing: border-box; position: absolute; top: 3px; left: 0;
        transition: all .5s; border-radius: 2px;
        &:before{
          display: inline-block; content: ""; width: 10px; height: 5px; background: transparent;
          border: 1px solid transparent; transform: rotate(-45deg);
          vertical-align: 8px; transition: all .5s;
        }
      }
    }
    input:checked+label{
      color: $color;
    }
    input:checked+label i{
      background: $color; border-color: transparent;
      &:before{
        border-left-color: #fff; border-bottom-color: #fff;
      }
    }

    input:disabled+label{
      color: #b4bccc !important;
    }
    input:disabled+label i{
      background: #edf2fc !important; border-color: #d8dce5 !important;
    }
    input:checked:disabled+label i{
      &:before{
        border-left-color: #b4bccc; border-bottom-color: #b4bccc;
      }
    }
    &.border{
      input{
        left: 14px;
      }
      label{
        display: block; border: 1px solid #ddd; padding: 8px 18px 8px 35px; border-radius: 4px;
        i{
          top: 11px; left: 13px;
        }
      }
      input:checked+label{
        border-color: $color;
      }
    }
  }
}
#Input{
  .e-input{
    display: inline-block;
    input{
      max-width: 300px; padding: 10px; border-radius: 4px; border: 1px solid #d8dce5; outline: 0;
      transition: all .6s;
      &::-webkit-input-placeholder{ color:#b4bccc; }
      &:-moz-placeholder{ color:#b4bccc; }
      &::-moz-placeholder{ color:#b4bccc; }
      &:-ms-input-placeholder{ color:#b4bccc;}
      &:focus{
        border-color: $color;
      }

      &:disabled{
        background: #f5f7fa; border-color: #dfe4ed; color: #b4bccc; cursor: not-allowed;
      }
    }
    &.e-icon-left{
      position: relative;
      input{
        padding-left: 36px;
      }
      svg{
        position: absolute; left: 7px; top: 7px; width: 20px; height: 20px; fill: #b4bccc;
      }
    }
    &.e-icon.e-icon-after{
      position: relative;
      input{
        padding-right: 40px;
      }
      svg{
        position: absolute; right: 7px; top: 7px; width: 24px; height: 24px; fill: #b4bccc;
      }
    }
  }
}
